<div class="container">
	<h3>Recherche des erreurs par criters</h3>
	<form #erreurFrom="ngForm" (ngSubmit)="submit(erreurFrom.value)">
		<div class="form-group">
			<label for="td_quantity">IdEo</label> <input type="number"
				class="form-control" id="td_quantity" name="quantity"
				[ngModel]="123">
		</div>
		
		<div class="form-group">
			<label for="td_name">IdSequence</label> <input type="text"
				class="form-control" id="td_name" name="name" [ngModel]="erreur.idSequence"
				required>
		</div>
	
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Submit"
				[disabled]="erreurFrom.invalid">
		</div>
		
		<div class="form-group">
			<label class="col-xs-4 control-label">Submitted Data : </label>
			<div class="col-xs-8">
				<div [hidden]="!submitted">
					<span>from angulartypescript.com</span>
					<textarea style="width: 300px" class="form-control" rows="6">{{data}}</textarea>
				</div>
				<div [hidden]="submitted">
					<span>Edit your Data then click Submit to get Data from :
						angulartypescript.com</span>
				</div>
			</div>
		</div>
	</form>

 <p>First name value: {{ erreur.idSequence }}</p>
</div>


