<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<div>
		<label>name: </label>
	</div>

</div>
<h2>Here are some links to help you start:</h2>

<collapsible-table [type]="'accordion'" bordered>

<thead>
	<collapsible-table-row>
	<th>ID</th>
	<th>Name</th>
	<th>username</th>
	<th>Email</th>
	</collapsible-table-row>
</thead>

<tbody *ngFor="let hero of heroes">
	<collapsible-table-row [detail]="detail1">
	<td>{{hero.id}}</td>
	<td>{{hero.name}}</td>
	<td>{{hero.username}}</td>
	<td>{{hero.email}}</td>
	</collapsible-table-row>
	<collapsible-table-row-detail #detail1 >
	
<!-- 	sub table -->
	<table class="table table-hover">
      <thead>
        <td width="35%">app</td>
        <td>Name</td>
        <td>Host</td>
      </thead>
      <tbody>
        <tr>
          <td >test1</td>
          <td >test2</td>
         <td >test3</td>
        </tr>
      </tbody>
    </table>
    
	</collapsible-table-row-detail>
</tbody>

</collapsible-table>



